@use "../../styles/_variables" as *;

.banner {
  background-color: #{$light-grey};
}

.soins {
  background-color: #{$light-brown};
}

.card-text {
  white-space: pre-line;
}

@keyframes fadeUpElegant {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  80% {
    opacity: 1;
    transform: translateY(-6px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos="fade-up"].aos-animate {
  animation: fadeUpElegant 0.9s ease-out forwards;
}
