@use "../../styles/_variables" as *;

.banner {
  background-color: #{$light-grey};
}

.btn.btn-baldanza {
  font-family:
    TT Drugs,
    sans-serif;
  font-size: 2.5rem;
  font-weight: 700;

  --bs-btn-bg: #{$light-brown};

  --bs-btn-hover-bg: #{$light-brown};
  --bs-btn-hover-border-color: #{$dark-brown};
  --bs-btn-border-width: 3px;
}

.soins {
  background-color: #{$light-brown};
}

.card-text {
  white-space: pre-line;
}
