body {
  h1 {
    font-family:
      be vietnam pro,
      sans-serif;
    font-size: 6rem;
  }

  h2 {
    font-family:
      TT Drugs,
      sans-serif;
    font-size: 2.5rem;
  }

  p {
    font-family: Manjari, sans-serif;
    font-size: 1.25rem;
  }
}

main {
  padding-top: 76px;
}
