@use "../../styles/_variables" as *;

.renseignements,
.map-container {
  background-color: #{$light-brown};
  .btn.btn-baldanza {
    background: linear-gradient(
      to bottom,
      lighten($dark-brown, 5%),
      $dark-brown
    );
  }
}

.avis-g {
}

form {
  border: 2px solid #{$light-green};
}

.form-control {
  --bs-body-bg: #{$light-brown};
}
