@use "../../styles/_variables" as *;

.nav-link.active {
  text-decoration: underline;
}

.nav-link:hover {
  font-weight: bold;
}

#navbar {
  --bs-navbar-color: #{$dark-green};
  --bs-navbar-active-color: #{$dark-brown};
  background-color: #{$white};
  &:hover {
    --bs-navbar-hover-color: #{$dark-green};
  }
}

/* Align items on the right when collapse is open */
.navbar-nav {
  align-items: flex-end;
}
